/* index.css */

html, body, form {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margins */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
}

html {
    width: 100%;
    background-image: url(../public/image/back.png);  
    background-position: center center; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: cover;
}

h1 {
    text-align: center;
}

p {
    background-color:palegreen;
    text-align: center;
    margin: 0; /* Remove default margins */
    padding: 10px; /* Add padding for better appearance */
}

/*form .estimate {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: left; 
    margin-top: 20px;
}*/

td {
    width: 100px;
    display: flexbox;
    flex-direction: column;

}

.btn {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    margin-top: 20px;
}

button {
    border-radius: 2px;
    margin: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: black; 
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover {
    background-color: brown; 
    transform: scale(1.05); 
}
