body {
    width: 100%;
    height:100%;
    background-image: url(../image/back.png);  
    background-position: center center; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: cover;
}

p {
    background-color: rgb(135, 197, 48);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

h1 {
    background-color: rgb(135, 197, 48);
    font-size: medium;
    font-weight: bold;
}

td {
    background-color: white;
    text-align: center;
}

/* table02 */
#table02 th, #table02 td {
    text-align: center;
    width: 20%;
    min-width: 130px;
    padding: 10px;
    height: 60px;
  }
  
  /* tab */
  @media only screen and (max-width: 768px) {
    #table03 {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
    }
  }

th {
    background-color: rgb(121, 168, 51);
}

#menue{
    margin: 27px;
    margin-left: 83%;
    cursor: pointer;
    border: 2px solid black;
    
}

.row-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; /* Space between rows of buttons */
}


#btn {
    margin-left: 50px;
}

