body {
    display: block;
    align-items: center;
}

.table-container {
    padding-left: 40px;
}

#table02 th, #table02 td {
    text-align: center;
    width: 20%;
    min-width: 130px;
    padding: 10px;
    height: 60px;
  }

@media only screen and (max-width: 768px) {
    #table03 {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    }
}

th {
    background-color: rgb(121, 168, 51);
}

td {
    background-color: white;
}

.breakdown .unit {
    width: 50px;
}

.breakdown .quantity {
    width: 50px;
}

.breakdown .unit_price {
    width: 100px;
}

.breakdown .amount {
    width: 100px;
}

#menue{
    margin: 27px;
    margin-left: 83%;
    cursor: pointer;
    border: 2px solid black;
}

.row-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn, .btn-primary, .btn-dark, .btn-danger,.js-delete-btn,.btn-add {
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn:hover {
    background-color: #0069d9;
}

.delete_breakdown {
    text-align: center;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}

.delete_breakdown:hover {
    background-color: #c82333;   
}
