body {
    font-family: 'DejaVu Sans', sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 12px;
}

h2 {
    text-align: center;
    border: 2px solid #160202;
    padding: 20px;
    margin: 2px;
    background-color: rgb(186, 182, 182);
}

table {
    width: 65%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    background-color: grey;
    color: white;
    width: 20%;
    text-align: center;
}
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th,
td {
    padding: 10px;
    text-align:center;
}

.contact-info {
    width: 30%;
    font-size: 14px;
    position: absolute;
    bottom: 375px;
    right: 15px;
    margin-bottom: 300px;
}

.table-data {
    width: 80%;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.right-align {
    text-align: right;
}

.customer-name {
    display: inline;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.estimate-description {
    display: inline;
    font-size: 8px;
    margin: 0;
    padding: 0;
}

.estimate-amount {
    text-align: center;
    margin-left: 150px;
    display: inline;
    text-decoration: underline;
}
