/* index.css */

html, body, form {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margins */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: palegreen;
}

body {
    background-color: palegreen; /* Optional: Set a background color for better visibility */
}

h1 {
    text-align: center;
}

p {
    background-color:palegreen;
    text-align: center;
    margin: 0; /* Remove default margins */
    padding: 10px; /* Add padding for better appearance */
}

form,input .estimate {
    display: block;
    flex-direction: column;  
    margin-top: 20px;
}

table{
    border-collapse:separate;
    border-spacing: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
table th,table td{
    border-radius: 5px;
    padding: 10px 0;
}

table th{
    background-color: #c79852;
    text-align: left;
    color: white;
    border:solid 1px #927141;
}

table td{
    background-color: #e4d4bc;
    border:solid 1px #af9d85;
    text-align: left;
}

input .customer_name{
    display: block;
    text-align: left;
}

input {
    background-color: #e4d4bc;
    border:solid 0px #af9d85;
    width: 90%;
}

select {
    background-color: #e4d4bc;
    border:solid 0px #af9d85;
}

textarea {
    background-color: #e4d4bc;
    border:solid 0px #af9d85;
    width: 90%;
}

.btn {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    margin-top: 50px;
}

button .btn1{
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: black; 
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button {
    border-radius: 10px;
    margin: 0px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: black; 
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover {
    background-color: brown; 
    transform: scale(1.05); 
}
